<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="http://localhost:5000" />
		<add key="BooksEndpoint" value ="/Books"/>
		<add key="BookEndpoint" value ="/Books/bookId"/>
		<add key="TokenEndpoint" value="/Authentication/login" />
		<add key="UserName" value="svetla" />
		<add key="Email" value="s.m@gmail.com" />
		<add key="Password" value="svetlasvetla" />
	</appSettings>
</configuration>
